
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 520px;
  min-height: 300px;
  background-color: var(--Dark-Grayish-Blue);
  padding: 48px;
  padding-bottom: 72px;
  border-radius: 15px;
}

.max-width-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

p {
  text-align: center;
  text-indent: 1rem;
  /* margin-bottom: 40px; */
}

header h1 {
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-bottom: 24px;
  letter-spacing: 0.25rem;
  color: var(--Neon-Green);
}

.dice-button {
  width: 64px;
  height: 64px;
  background-color: var(--Neon-Green);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  cursor: pointer;
}

.dice-button:hover {
  box-shadow: 0 3px 25px 5px rgb(30, 255, 170);
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #475055;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% {transform: rotate(360deg);}
}


@media (max-width: 375px) {


  .card {
    padding: 40px 24px 60px 24px;
  }
}