/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

:root {
  --Dark-Grayish-Blue: #313A48;
  --Light-Cyan: #CEE3E9;
  --Pure-White: #FFF;
  --Neon-Green: #53FFAA;
  --Dark-Blue: #202733;

  --font-family-default: 'Manrope';
}

@font-face {
  font-family: 'Manrope';
  font-display: swap;
  font-weight: 100 900;
  src: url('./assets/fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype');
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body, #root {
  height: 100%;
}

body {
color: var(--Light-Cyan);
font-family: var(--font-family-default);
font-size: 1.5rem;
font-weight: 800;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
  font: inherit;
}